:root {
  --base-foreground: #000;
  --base-background: #fff;
  --base-success: #0070f3;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;

  --poke-normal: #A8A77A;
  --poke-fire: #EE8130;
  --poke-water: #6390F0;
  --poke-electric: #F7D02C;
  --poke-grass: #7AC74C;
  --poke-ice: #96D9D6;
  --poke-fighting: #C22E28;
  --poke-poison: #A33EA1;
  --poke-ground: #E2BF65;
  --poke-flying: #A98FF3;
  --poke-psychic: #F95587;
  --poke-bug: #A6B91A;
  --poke-rock: #B6A136;
  --poke-ghost: #735797;
  --poke-dragon: #6F35FC;
  --poke-dark: #705746;
  --poke-steel: #B7B7CE;
  --poke-fairy: #D685AD;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--base-background);
  color: var(--base-foreground);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

.scrollable {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--accents-2);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--base-foreground);
  }
}
